/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif, "Martel Sans";

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: auto;
    padding: 10px 0px 20px 0px;
}

.DHE {
    width: 300px;
}

.JEE {
    text-align: center;
    font-size: 10px;
}

.NTA {
    width: 300px;
} */

/* .nav1 {
    border: 2px solid;
    background-color: #ff622a;
    height: 25px;
}

.nav1 img {
    margin-left: 50px;
    height: 20px;
}

.Home {
    text-align: center;
    text-decoration: none;
    color: white;
}

#homeNav , tr{
    border: 2px solid lightslategray;
    border-collapse: collapse;
    background-color: #ff622a;
}
#homeNav{
    border: 2px solid black;
    background-color: #ff622a;
    position:relative;
    z-index: 1;
    
}
table{
    position:absolute;
    /* width: 40vw; */
/* } */

.h1 {
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: auto;
    padding: 15px;
}



.form {
    padding: 20px  15px;
    margin: auto;
    width: 60vw;
    border-radius: 5px;
    box-shadow: 10px 12px 10px 5px gray;

}
.formdiv,div {
    text-align: center;
}

.RG{
    display: flex;
    justify-content: center;
        font-size: 20px;
    column-gap: 20%;
        margin: 10px auto;
}
.lb {
    margin-right: 150px;
    font-size: 20px;

} 

.lb1 {
    margin-right: 207px;
    font-size: 20px;

}

.input1,.input2,.input3,.input4,.input5 ,.input6 {
    border-radius: 5px;
    width: 350px;
    padding: 5px;
    margin: 10px 0px 25px 0px;
}

.lb2 {
    margin-right: 200px;
    font-size: 20px;

}


.lb3 {
    margin-right: 20px;
    font-size: 20px;

}
#Dob{
    font-size: 20px;
}
.gnd{
    font-size: 20px;
}
.lb4 {
    margin-right: 243px;
    font-size: 22px;
    
}

.lb5 {
    margin-right: 250px;
    font-size: 22px;
    
}

.FPB2 {
    position: relative;
}
#sHide {
    position: absolute;
    z-index: 1;
    height: 28px;
    width: 45px;
    background-color: white;
    top: -10%;
    right: 1%;
    border-radius: 5px;
    border: none;
}

#sHideimg {
    width: 30px;
}


.Cpass{
    font-weight: 800;
    text-align: center;
    font-size: 25px;
    /* text-shadow: 2px 2px 2px black; */
    margin-bottom: 20px;
    text-decoration: underline solid;
}
.lbp{
    margin-right: 230px;
    font-size: 22px;
    
}
.lbcp{
    margin-right: 135px;
    font-size: 22px;

}

.lb6{
     margin-right: 77px;
    font-size: 20px;
}

/* 
.lcap {
    margin-right: 41px;
    font-size: 20px;
    
}

#cap {
    background-color: rgba(180, 180, 180, 0.527);
    border-radius: 5px;
    border: 2px solid rgba(147, 147, 147, 0.5);
    width: 150px;
    text-align: center;
    font-size: 30px;
    color: rgba(255, 64, 0, 0.876);
    margin-top: 30px;

}
.ButtonC{
    background-color: white;
    border-color: white;
    border: none;
    
}

.refresh {
    width: 40px;
    background-color: rgba(135, 150, 166, 0.733);
} */


.submit {
    margin: 5% 5% 5% 5%;
    width: 120px;
    padding: 7px;
    font-size: 18px;
    color: white;
    background-color: rgba(255, 68, 0, 0.851);
    border: 2px solid rgba(255, 68, 0, 0.851);
    border-radius: 5px;
}
/* 
footer{
    color: white;
    margin-top: 25px;
    background-color:rgba(81, 79, 79, 0.848);
    padding: 50px;
    font-size: 20px;
}
.footer {
    text-align: left;
    width: 60vw;
    margin: auto;
}
.FContact{
    text-decoration: underline solid;
}
.footer li{
    padding: 10px;
    list-style: none;
}
 */

/* 
@media screen and (max-width: 720px) {
    body {
        
        .DHE {
            width: 120px;
        }

        .JEE {
            text-align: center;
            font-size: 5px;
        }
        
        .NTA {
            width: 100px;
        }
        
        
    }
}
 */

        /*
        .ATP{
    text-align: center;
}

        .SNDOTP{
        width: 150px;
        font-size: 20px;
        margin: 5% 15% 5% 0%;
            padding: 7px;
            color: white;
            background-color: rgba(255, 68, 0, 0.851);
            border: 2px solid rgba(255, 68, 0, 0.851);
            border-radius: 5px;
        
        }
        #OTP{
            border-radius: 5px;
            padding: 8px;
            width: 300px;
            margin: 30px;
            font-size: 20px;
        } */



        
@media screen and (max-width: 522px) {
    body {
        .footer {
            text-align: left;
            width: 90vw;
            font-size: 15px;
            margin: auto;
        }

    }
}

@media screen and (max-width: 460px) {
    body {
        /* .form {
            margin: auto;
            padding: 20px;

             padding: 20px  15px;
    width: 60vw;
    border-radius: 5px;
    box-shadow: 10px 12px 10px 5px gray;
/*  */

        *{
            text-align: left;
        }
        .RG{
            display: block;
        }
        .gnd{
            margin: 30px 0px ;
            font-size: 18px;
        }
        .submit{
            text-align: center;
            margin: 0;
            margin-top: 20px;


        }
         .lb,
        .lb1,
        .lb2,
        .lb4,
        .lb5,
        .lbp,
        .lbcp
        .lcap {
            margin: 0;

        }

        
        .input1,
        .input2,
        .input3,.input4,.input6 {
            width: 76vw;
        }

          footer {
            text-align: left;
            padding: 0;
        }
         .Email {
            font-size: 13px;
        }



    }
}

@media screen and (max-width:251px) {
    body{
        #body{
            display:none;
            
        }
    }
}    

